<h1>Prediction Page</h1>

<%= form_for @prediction, url: { action: "create"} do |f| %>

<%= f.label :set_one_opener %>
<%= f.text_field :set_one_opener %>

<%= f.label :set_one_closer %>
<%= f.text_field :set_one_closer %>

<%= f.label :set_two_opener %>
<%= f.text_field :set_two_opener %>

<%= f.label :set_two_closer %>
<%= f.date_select :set_two_closer %>

<%= f.label :encore %>
<%= f.date_select :encore %>

<%= f.label :random_song_one %>
<%= f.date_select :random_song_one %>

<%= f.label :random_song_two %>
<%= f.date_select :random_song_two %>

<%= f.label :random_song_three %>
<%= f.date_select :random_song_three %>

<%= f.label :random_song_four %>
<%= f.date_select :random_song_four %>

<%= f.label :random_song_five %>
<%= f.date_select :random_song_five %>

<%= f.label :cover_song %>
<%= f.date_select :cover_song %>

<%= f.label :elemental_song %>
<%= f.date_select :elemental_song %>

<%= f.label :gamehendge_song %>
<%= f.date_select :gamehendge_song %>

<%= f.label :animal_song %>
<%= f.date_select :animal_song %>

<%= f.label :name_song %>
<%= f.date_select :name_song %>

<%= f.label :place_song %>
<%= f.date_select :place_song %>

<%= f.submit "Submit Predictions" %>

<% end %>
