<h1>Your predctions</h1>
<ul>
    <li><%= @prediction.set_one_opener %></li>
    <li><%= @prediction.set_one_closer %></li>
    <li><%= @prediction.set_two_opener %></li>
    <li><%= @prediction.set_two_closer %></li>
    <li><%= @prediction.encore %></li>
    <li><%= @prediction.random_song_one %></li>
    <li><%= @prediction.random_song_two %></li>
    <li><%= @prediction.random_song_three %></li>
    <li><%= @prediction.random_song_four %></li>
    <li><%= @prediction.random_song_five %></li>
    <li><%= @prediction.animal_song %></li>
    <li><%= @prediction.gamehendge_song %></li>
    <li><%= @prediction.cover_song %></li>
    <li><%= @prediction.place_song %></li>
    <li><%= @prediction.elemental_song %></li>
    <li><%= @prediction.name_song %></li>
</ul>
